@font-face {
  font-family: 'Reislust';
  src: url('./assets//fonts//Reislust-97D7.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Reislust, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #132554;
  color: #ffffff;
  /* background-image: url('./assets/cover.png') !important; */
  background-size: cover;
}

.icon {
  color: #00A3DD;
}

.slogan {
  text-align: center;
  font-size: 60px;
  position: fixed;
  bottom: 50%;
  width: 100%;
}

.universal-apps-footer {
  bottom: 5%;
  font-size: 20px;
  margin: auto;
  width: 100%;
  height: 30px;
  line-height: 15px;
  position: absolute;
  text-align: center;
}

.universal-apps-logo {
  top: 0;
  left: 0;
  width: 100px;
  position: absolute;
  margin-top: 2%;
  margin-left: 2%;
}

@media all and (min-width: 750px) {
  .universal-apps-logo {
    top: 0;
    left: 0;
    width: 250px;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
  }
}

.universal-apps-logo a:hover {
  border: none;
}
